.input-area{
    width: 30rem;
    border: 1px solid white;
    border-radius: 5px;
    background-color: floralwhite;
    padding: 0.7rem 1.2rem;
    display: flex;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
}
.currency-amount{
    display: flex;
    flex-direction: column;
}
.currency-amount label{
    font-size: 1rem;
}
.currency-amount input{
    margin-top: 1rem;
    padding: 0.5rem 0.4rem;
    border: 1px solid grey;
    outline: none;
    font-size: 1rem;
    border-radius: 5px
}
.currency-type{
    display: flex;
    flex-direction: column;
}
.currency-type label{
    font-size: 1rem;
}
.currency-type select{
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    background-color: rgba(192, 192, 192, 0.66);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.currency-type option{
    background-color: azure;
    cursor: pointer;
}