.github-container{
    min-height: 75vh;

}
.todo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.box{
    background-color: rgb(188, 188, 188);
    padding: 2rem;
    width: 50rem;
    text-align: center;
    border-radius: 5px;
    /* color: white; */
}
.box h1{
    font-size: 3rem;
}
.input{
    margin: 1.5rem 0 ;
}
.input input[type=text]{
    padding: 1.1rem;
    width: 75%;
    margin-right: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
}
.input input[type=text]:focus{
    border: 1px solid #f953c6;
}
.input button{
    width: 5rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* font-weight: bold; */
    font-family: cursive;
    background-color: #b91d73;
}
.input button:hover{
    background-color: #f953c6;
}

.list-items{
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 0.7rem 1rem;
    margin: 1rem 3rem;
}
.list-items .list-data{
    font-size: 1rem;
    font-weight: 400;
    font-family: cursive;
}
.list-items .list-icon{
    /* padding: 1rem; */
    font-size: 1rem;
}
.list-items .list-icon:hover{
    background-color: #f953c6;
    border-radius: 50%;
    cursor: pointer;
    color: black;
}
